# ------------------------------------------------------------------------------
# Variáveis de ambiente
# ------------------------------------------------------------------------------
#
# Este é um arquivo de exemplo que deve ser usado como base para definir
# as variáveis de ambiente que serão no container que executará o banco de dados
# postgres.
# Para saber mais sobre as variáveis usadas, leia a documentação da imagem em
# https://hub.docker.com/_/postgres
# _

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_DB=