# Web
export PORT=
export HOST=
export SIGNING_SALT=
export SECRET_KEY_BASE=

# Database
export DB_USERNAME=
export DB_PASSWORD=
export DB_HOSTNAME=
export DB_DATABASE=
export DB_URL=

# Authentication
export AUTH_USERNAME=
export AUTH_PASSWORD=
