# Senhas, chaves de API e afins
/config/*.secret.exs

# Extensão ElixirLS (vscode)
.elixir_ls/

# Arquivos compilados pelo Mix.
/_build/
*.beam

# Cobertura de testes automatizados.
/cover/

# Dependencias do projeto.
/deps/

# Documentações de bibliotecas externas.
/doc/

# Dependencias baixadas para serem editadas localmente.
/.fetch

# Relatórios de erro.
erl_crash.dump

# Arquivos de artefato (gerados via "mix archive.build").
*.ez

# Pacotes tarball (gerados via "mix hex.build").
rocketpay-*.tar

# Certificados
priv/cert

# Dialyzer
priv/plts/dialy*

# Variáveis de ambiente
.env
.env.dev
.env.test
.env.prod
.env.production

# ACT / Github Actions
_actions
workflow
